
*{
    padding: 0px; 
    margin: 0px;  
} 
.body {
    font-size: 16px;
    color: #fff;
    /* background-color: #61122f; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.top-section{
    background: linear-gradient(107.56deg, #309975 0%, #58B368 100%);
    padding: 20px;
    padding-left: 80px;
    height: 100vh;
}
.nav-section {
    display: flex;
    margin-left: 10px;
}
.nav-tabs {
    display: flex;
    color: #E7E7E7;
    margin-left: 250px;
    margin-right: 200px;
}
img {
    /* background: url("../img/logo.png") no-repeat; */
    /* width: 127px;
    height: 36px;
    size: 18px;
    margin: -30px 15px 10px 0; */
}
.menu-tab {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-top: -10px;
}
ul {
    list-style-type: none;   
  }
.auth-tabs {
    display: flex;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-right: 20px;
}
.login-btn {
    color: white;
    padding-right: 30px;
}
button {
    color: #309975;
    border-radius: 2px;
    background-color: #DAD873;
    border: none;
    padding: 5px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.state {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-top: 50px;
    line-height: 70px;
}
.underline {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    margin-top: 10px;
    text-underline-offset: 20px;
}
.state-tabs{
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    color: white;
    /* line-height: ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 10px; */
    font-size: small;
    font-weight: lighter;
}
.lineunder{
    font-size: 25px;
    font-weight: 700;
}
.lineunder1{
    font-size: 25px;
    font-weight: 700;
    margin-left: -12px;
}

.tab2 {
    margin-left: 65px;
}
.tab3 {
    margin-left: 110px;

}
.buttn {
    margin-top: 90px;
    font-size: 12px;
    font-weight:500;
}
button2{
    background-color: #DAD873;
    color: #309975;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    border-radius: 5px;
    padding-left: 42px;
    padding-right: 42px;
    /* margin-top: 60px; */  
    box-shadow: 1px 2px 2px black;     
}
.hero-img>img {
    /* background: url("../img/hero.png") no-repeat; */
    height: 900px;
    margin-left: 20px;
    width: 1000px;
    height: 657px;
    margin-top: -425px;
    margin-left: 170px;
    position: absolute;
}
.middle-section {
   text-align: center;
   margin-top: 20px;
   font-size: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.md-2{
    background-color:white;
    height: 110vh;
}
.ms-1{
    color: #309975;
    font-size: 30px;
    line-height: 55px;
}
.ms-2{
    font-size:small;
    font-weight: 300;
}
.card1{
    background-color: #EFEEB433;
    width: 350px;
    height: 560px;
    margin-top: 60px;
    margin-left: 200px;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px black;
    float: left;
}
button3{
    background-color: #DAD873;
    color: #575757;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-1{
    margin-top: 50px;
    margin-left: 50px;
}
.cd-1 {
    color: #DAD873;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
.list{
    margin-left: 62px;
    line-height: 30px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    list-style-type: disc;
    margin-bottom: 40px;
}
.btn-3{
    background-color: #F8BF88;
    margin-top: 50px;
    margin-left: 50px;
    color: #575757;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
}
.card3 {
    background: linear-gradient(#DAD873, #FFCA63);
    width: 180px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100px;
    border-radius: 5px;
    color: #20656F;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tally {
    font-weight: 300;
    font-size: 14px;
}
.card2{
    background-color: #EFEEB433;
    width: 350px;
    height: 560px;
    margin-top: 60px;
    margin-left: 200px;
    padding-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px black;
    float: left;
}
.btn-2{
    margin-top: 50px;
    margin-left: 50px;
    background-color: #FFCDC2;
}
.cd-2 {
    color:#F8BF88;
    margin-top: 30px;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
.card4 {
    background: linear-gradient(#FFCDC2, #F88888);
    width: 180px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100px;
    border-radius: 5px;
    color: #20656F;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.next-section {
    background: linear-gradient(107.56deg, #309975 0%, #58B368 100%);
    height: 60vh;
    padding-top: 100px;
    padding-left: 100px;
}
.text1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}
.text2 {
    font-size: 10px;
    color: white;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
.ncn {
    margin-top: 50px;
    margin-left: 55px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.large {
    font-size: 21px;
    margin-left: 30px;
}
.hp{
    color: #FFCA63;
    margin-left: -5px;
}
.large2{
    font-size: 21px;
    margin-left: 70px;
}
.mcn{
    float: right;
    margin-top: -110px;
    padding-right: 350px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}
.jik{
    font-size: 10px;
    font-weight: 100;
    margin-top: -12px;
}
.btn-4{
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
}
.spc{
    margin-left: 40px;
}
.mmm {
    background-color: #FFCA63;
    float: right;
    margin-right: 396px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}
.btn-5 {
    color: #20656F;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section3 {
    background-color: white;
    height: 100vh;
    padding-top: 40px;
}
.sc-3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #575757;
}
.sc-4 {
    text-align: center;
    color: #575757;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 6px;
}
.new-cards {
    background-color: #FFFFFF;
    /* background-color: red; */
    width: 280px;
    height: 140px;
    margin-top: 50px;
    margin-left: 175px;
    padding-left: 30px;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    font-size: 10px;
}
.new-cards2 {
    background-color:#309975;
    color: #FFFFFF;
    width: 280px;
    height: 140px;
    margin-top: 50px;
    margin-left: 160px;
    padding-left: 30px;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    font-size: 10px;
}
.new-cards3 {
    background-color: #FFFFFF;
    /* background-color: red; */
    width: 280px;
    height: 140px;
    margin-top: 50px;
    margin-left: 350px;
    padding-left: 30px;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    font-size: 10px;
}
.card {
    margin-right: 200px;
}
.img-s {
    text-align: center;
    width: 10px;
    margin-left: 500px;
    margin-top: 120px;
}
 .card-mt {
    margin-right: 190px;
    margin-top: -160px;
 }
 strong {
    font-size: 13px;
 }
.footer {
    background-color: #309975;
    height: 40vh;
    padding-top: 100px;
    padding-left: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.F-1 {
    color: white;
    margin-top: 15px;
    margin-left: 3px;
    line-height: 18px;
}

.rectangle{
    background-color: #E5E5E5;
    width: 240px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
}
.t-1{
    font-size: 11px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.A-1 {
    background-color: #DAD873;
    padding: 8px;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.arrow {
    margin-left: 280px;
    margin-top: -33px;
}
.F-2{
    margin-top: 20px;
    color: white;
    font-size: 10px;
    font-weight: lighter;
}
.F-3 {
    float: right;
    margin-right: 490px;
    color: white;
    margin-top: -195px;
    line-height: 30px;
    font-weight: 300;
    font-size: 12px;
}
.F-4{
    float: right;
    color: white;
    font-weight: 300;
    line-height: 30px;
    margin-top: -195px;
    margin-right: 230px;
    font-size: 12px;
}
.L-L{
    color: white;
    margin-left: 420px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 100;
}
.net {
    margin-left: 650px;
    margin-top: -18px;
    /* width: -15px;
    height: -10px; */
    /* margin: 5px */
}
.V-1 {
    margin-left: 15px;
}

.V-2 {
    margin-left: 15px;
}

.V-3 {
    margin-left: 15px;
}